// 320 * 568
//declared variables
$yellow: rgba(254, 245, 118, 1);
$black: rgb(0, 0, 0);

//basic setup
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Volkhov", serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(254, 245, 118, 1);
}

//header
.header {
  height: 100vh;
  width: 100%;
  font-size: 4rem;
  background: linear-gradient(
    0deg,
    rgba(254, 245, 118, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 12rem;
    width: 12rem;
  }
}
//questions
.question {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 0;

  h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    // flex-direction: column;

    button {
      width: 25rem;
      height: 5rem;
      font-family: "Volkhov", serif;
      font-size: 1.8rem;
      text-decoration: none;
      background-color: #fff;
      border: 0.3rem solid $black;
      border-radius: 20px;
      margin: 1rem;
    }
  }
}

//footer
.footer {
  height: 100vh;
  width: 100%;
  font-size: 3rem;
  text-align: center;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(254, 245, 118, 1) 100%
  );

  .restart {
    text-align: center;
    background-color: inherit;
    border: none;

    position: absolute;
    bottom: 1rem;
  }
}

//responsivnes
@media screen and (min-width: 481px) {
  html {
    font-size: 81.25%;
  }
  //questions
  .question {
    .list {
      button {
        width: 25rem;
        height: 5rem;
        font-family: "Volkhov", serif;
        font-size: 1.8rem;
        text-decoration: none;
        background-color: #fff;
        border: 0.3rem solid $black;
        border-radius: 20px;
        margin: 1rem;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  html {
    font-size: 100%;
  }
  .header {
    font-size: 6rem;
    img {
      height: 16rem;
      width: 16rem;
    }
  }
  //questions
  .question {
    margin: 8rem 0;

    h1 {
      margin-bottom: 4rem;
      font-size: 4rem;
    }

    .list {
      button {
        width: 35rem;
        height: 6rem;
        font-size: 2.5rem;
        margin: 1.5rem;
      }
    }
  }

  //footer
  .footer {
    font-size: 4.5rem;

    .restart {
      img {
        height: 6rem;
        width: 6rem;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 100%;
  }
  //questions
  .question {
    .list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      button {
        width: 28rem;
        height: 5rem;
        font-size: 2rem;
      }
    }
  }

  //footer
  .footer {
    font-size: 5rem;

    .restart {
      img {
        height: 4rem;
        width: 4rem;
      }
    }
  }
} ;
